global
    maxconn 8192
    nbthread 1

defaults
    mode http
    no log
    option dontlognull
    option http-server-close
    timeout connect 1s
    timeout client 65s
    timeout server 65s
    timeout check 2s

frontend ft
    bind *:9999
    default_backend api

backend api
    balance roundrobin
    option httpchk GET /ready
    server api1 unix@/run/sock/api1.sock check inter 500ms rise 2 fall 3
    server api2 unix@/run/sock/api2.sock check inter 500ms rise 2 fall 3
